---
import Container from "./Container.astro";


const aa = 'Aplicacio De Cines, donde los usuarios podran comprar y reservar sus asientos para la pelicula escogida cada usuario al momento de registrarse contara con 1000 monedas tambien contara con un enlace donde podra ver todo el historial de sus reservaciones, por último la aplicacion cuenta con un panel de administrador donde solo un usuario con rol administrador podra acceder a los clientes, podra agregar monedas y añadir nuevas peliculas a la cartelera'

const proyectos = [
  {
    title: 'MovieApp',
    img_url: "../../public/proyectos/flags.webp",
    github: 'https://github.com/escarcan/MovieApp-Frontend',
    description: 'Aplicacion de Cine para comprar y reservar boletos e incluye un panel de administrador',
    to: '/proyectos/movie'
  },
  {
    title: 'PaisesApp',
    img_url: "../../public/proyectos/movies.webp",
    github: 'https://github.com/escarcan/rest-countries-api-project',
    description: 'Aplicacion para ver las banderas del mundo e informacion del Pais',
    to: 'https://carlosreyes84-restcountries.netlify.app/'
  },
  {
    title: 'Acortador de URL',
    img_url: "../../public/proyectos/short.webp",
    github: 'https://github.com/escarcan/URL-Shortening-API-LandingPage',
    description: 'Aplicacion para acortar tus URLS usando la API de shrtcode',
    to: 'https://escarcan.github.io/URL-Shortening-API-LandingPage/'
  },
  {
    title: 'EasyBank LandingPage',
    img_url: '../../public/proyectos/landingEasy.webp',
    github: 'https://github.com/escarcan/Desktop-First-EasyBank-Project',
    description: 'Sitio web estatico, ejercicio de la pagina FrontendMentor',
    to: 'https://escarcan.github.io/Desktop-First-EasyBank-Project/'
  }, 
  {
    title: 'TodoList',
    img_url: '../../public/proyectos/todoList.webp',
    github: 'https://github.com/escarcan/React-Todo-List-Level-Up',
    description: 'Una simple todoList con registro y login de usuarios',
    to: 'https://todolist-react-levelup.netlify.app/login'
  }
];
---  

  <section class="bg-white py-20" id="Proyectos">
    <Container>
      <h2 class="text-4xl font-bold text-center">Mis Proyectos</h2>

      <div class="proyectos flex justify-center gap-10 mt-10 flex-wrap">
        {
          proyectos.map(({ img_url, title, github, description, to }) => (
            <div class="flex justify-center">
              <div class="rounded-lg shadow-xl bg-white max-w-sm">
                <div class="img h-[200px] mb-6">
                  <a href={to}>
                    <img
                    class="rounded-t-lg hover:scale-90 transition-all"
                    src={img_url}
                    alt=""
                    />
                    </a>
                  </div>
                <div class="p-6">
                  <h5 class="text-gray-900 text-xl font-bold mb-2">
                    {title}
                  </h5>
                  <p class="text-gray-700 text-base mb-4">
                    {description}
                  </p>
                  <div class="flex justify-between">
                    <a
                    target="_blank"
                    href={to}
                    class=" inline-block px-6 py-2.5 bg-black text-white font-bold text-md leading-tight rounded shadow-md"
                    >
                    Ver Proyecto
                    </a>

                  <a href={github} target="_blank">
                    <img src="https://icongr.am/devicon/github-original.svg?size=35&color=currentColor" alt="github">
                  </a>
                  </div>
                  
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </Container>
  </section>

<style>
  .github {
    background-image: url('../../public/github.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>